<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<!-- Header Start -->
<div th:replace="fragments/header :: header"></div>
<!-- Header End -->

<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
         data-background="/assets/img/hero/roomspage_hero.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                                    <span th:text="#{user.page.booking}">
                                    </span>
                        <h2 th:text="#{user}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

<!-- Booking Room Start-->
<div class="booking-area">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <form action="#" th:object="${userRequestDTO}" th:action="@{/room/user/find-room}" method="GET">
                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation error</p>
                    <div class="booking-wrap d-flex justify-content-between align-items-center">
                        <!-- select in date -->
                        <div class="single-select-box mb-30" th:classappend="${#fields.hasErrors('arrivalDate')}? 'has-error':''">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                            <span th:text="#{check.in.date}">
                                            </span>
                            </div>
                            <div class="boking-datepicker">

                                <input type="date" th:field="*{arrivalDate}"
                                       th:attr="min=${nowDate}" th:placeholder="${nowDate}" required/>

                            </div>

                        </div>

                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30" th:classappend="${#fields.hasErrors('departureDate')}? 'has-error':''">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                <span th:text="#{check.out.date}"></span>
                            </div>
                            <div class="boking-datepicker">
                                <input type="date" th:field="*{departureDate}"
                                       th:attr="min=${tomDate}" th:placeholder="${tomDate}" required/>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30" th:classappend="${#fields.hasErrors('adultsCapacity')}? 'has-error':''">
                            <div class="boking-tittle">
                                            <span th:text="#{adults.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:field="*{adultsCapacity}" id="select1" required>
                                        <th:block th:each="i: ${#numbers.sequence(1, session.maxAdultCapacity)}">
                                            <option th:value="${i}"
                                                    th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30" th:classappend="${#fields.hasErrors('childrenCapacity')}? 'has-error':''">
                            <div class="boking-tittle">
                                            <span th:text="#{children.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:field="*{childrenCapacity}" id="select2" required>
                                        <th:block th:each="i: ${#numbers.sequence(0, session.maxChildCapacity)}">
                                            <option th:value="${i}"
                                                    th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30" th:classappend="${#fields.hasErrors('bedSize')}? 'has-error':''">
                            <div class="boking-tittle">
                                            <span th:text="#{bed.size}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select id="select3" th:field="*{bedSize}" required>
                                        <th:block th:each="roomBedSize : ${session.roomBedSizeList}">
                                            <option th:value="${roomBedSize}" th:text="${roomBedSize}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box pt-45 mb-30">
                            <button type="submit" class="btn select-btn" th:text="#{find.room}">
                            </button>
                        </div>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('arrivalDate')}"
                           th:text="${error}">Validation error</p>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('departureDate')}"
                           th:text="${error}">Validation error</p>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('adultsCapacity')}"
                           th:text="${error}">Validation error</p>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('childrenCapacity')}"
                           th:text="${error}">Validation error</p>
                        <p class="error-message"
                           th:each="error: ${#fields.errors('bedSize')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Booking Room End-->


<!--Search Room table-->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30" th:text="#{rooms}">
            </h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial" th:text="#{room}">
                        </div>
                        <div class="visit" th:text="#{adults.capacity}">
                        </div>
                        <div class="visit" th:text="#{children.capacity}">
                        </div>
                        <div class="visit" th:text="#{bed.size}">
                        </div>
                        <div class="visit" th:text="#{price}">
                        </div>
                        <div class="visit" th:text="#{action}">
                        </div>
                    </div>
                    <th:block th:each="roomOrderDTO : ${roomOrderDTOList}">
                        <div class="table-row">
                            <div class="serial">
                                <a th:href="@{/room/view/{id} (id=${roomOrderDTO.roomId})}" th:text="#{details}"></a>
                            </div>
                            <div class="visit" th:text="${roomOrderDTO.adultCapacity}"></div>
                            <div class="visit" th:text="${roomOrderDTO.childCapacity}"></div>
                            <div class="visit" th:text="${roomOrderDTO.bedSize}"></div>
                            <div class="visit" th:text="${roomOrderDTO.price}"></div>
                            <div class="visit">
                                <div th:with=" resultAction = ${roomStatus.name() == 'FREE' }">
                                    <div th:if="${resultAction}">
                                        <ul>
                                            <li>
                                                <form th:method="POST" action="#" th:action="@{/room/user/order-room}">
                                                    <input type="hidden" th:value="${roomOrderDTO.roomId}" th:attr="name='roomId'">
                                                    <button class="genric-btn success small action-button" type="submit" th:text="#{book}"></button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div th:unless="${resultAction}" th:text="--">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Room table- -->

<!-- Footer Start -->
<div th:replace="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>
