<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<!-- Header Start -->
<div th:replace="fragments/header :: header"></div>
<!-- Header End -->

<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
         data-background="/assets/img/hero/roomspage_hero.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                                    <span th:text="#{user.page.orders}">
                                    </span>
                        <h2 th:text="#{user}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

<!-- Request Room Start-->
<div class="booking-area">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <form action="#" th:action="@{/request/user/create}"  method="post">
                    <div class="booking-wrap d-flex justify-content-between align-items-center">
                        <!-- select in date -->
                        <div class="single-select-box mb-30">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                            <span th:text="#{check.in.date}">
                                            </span>
                            </div>
                            <div class="boking-datepicker">

                                <input type="date" th:name="arrivalDate"
                                       th:attr="min=${nowDate}" th:placeholder="${nowDate}" required/>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                            <span th:text="#{check.out.date}"></span>
                            </div>
                            <div class="boking-datepicker">
                                <input type="date" th:name="departureDate"
                                       th:attr="min=${tomDate}" th:placeholder="${tomDate}" required/>

                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{adults.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:name="adultsCapacity" id="select1" required>
                                        <th:block th:each="i: ${#numbers.sequence(1, session.maxAdultCapacity)}">
                                            <option  th:value="${i}"
                                                    th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{children.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:name="childrenCapacity" id="select2" required>
                                        <th:block th:each="i: ${#numbers.sequence(0, session.maxChildCapacity)}">
                                            <option  th:value="${i}"
                                                    th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{bed.size}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select id="select3" th:name="bedSize" required>
                                        <th:block th:each="roomBedSize : ${session.roomBedSizeList}">
                                            <option  th:value="${roomBedSize}" th:text="${roomBedSize}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box pt-45 mb-30">
                            <button type="submit" class="btn select-btn" th:text="#{request.now}">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Request Room End-->

<!--Users Orders table-->
<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30" th:text="#{requests}">
            </h3>
            <div class="progress-table-wrap">
                <div class="progress-table">
                    <div class="table-head">
                        <div class="serial" th:text="#{room}">
                        </div>
                        <div class="visit" th:text="#{arrival}">
                        </div>
                        <div class="visit" th:text="#{departure}">
                        </div>
                        <div class="visit" th:text="#{status}">
                        </div>
                        <div class="visit" th:text="#{adults.capacity}">
                        </div>
                        <div class="visit" th:text="#{children.capacity}">
                        </div>
                        <div class="visit" th:text="#{bed.size}">
                        </div>
                        <div class="visit" th:text="#{action}">
                        </div>
                    </div>
                    <th:block th:each="requestDTO : ${requestDTOList}">
                        <div class="table-row">
                            <div class="serial">
                                <div th:with="resultRoom = ${requestDTO.roomID != null && requestDTO.roomID > 0}">
                                    <div th:if="${resultRoom}">
                                        <a th:href="@{/room/view/{id} (id=${requestDTO.roomID})}" th:text="#{details}"></a>
                                    </div>
                                    <div th:unless="${resultRoom}">
                                        <div th:text="'--'">--</div>
                                    </div>
                                </div>
                            </div>
                            <div class="visit" th:text="${requestDTO.arrivalDate}"></div>
                            <div class="visit" th:text="${requestDTO.departureDate}"></div>
                            <div class="visit" th:text="${requestDTO.status}"></div>
                            <div class="visit" th:text="${requestDTO.adultsCapacity}"></div>
                            <div class="visit" th:text="${requestDTO.childrenCapacity}"></div>
                            <div class="visit" th:text="${requestDTO.bedSize}"></div>
                            <div class="visit">
                                <div th:with=" resultAction = ${requestDTO.roomID != null && requestDTO.roomID > 0 && requestDTO.status.name() == 'ASSIGNED'}">
                                    <div th:if="${resultAction}">
                                        <ul>
                                            <li>
                                                <form th:method="POST" action="#" th:action="@{/request/user/approve}">
                                                    <input type="hidden" th:name="requestId" th:value="${requestDTO.requestId}">
                                                    <button class="genric-btn success small action-button" type="submit" th:text="#{approve}"></button>
                                                </form>
                                            </li>
                                            <li>
                                                <form th:method="POST" action="#" th:action="@{/request/user/decline}">
                                                    <input type="hidden" th:name="requestId" th:value="${requestDTO.requestId}">
                                                    <button class="genric-btn danger small action-button" type="submit" th:text="#{decline}"></button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div th:unless="${resultAction}">
                                        <form th:method="POST" th:action="@{/request/user/remove(requestId=${requestDTO.requestId})}">
                                        <button class="genric-btn danger small action-button" type="submit" th:text="#{remove}"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users Order table -->

<!-- Footer Start -->
<div th:insert="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>
