<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments/head :: head"></div>
<body>
<!-- Header Start -->
<div th:replace="fragments/header :: header"></div>
<!-- Header End -->

<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center"
         data-background="/assets/img/hero/roomspage_hero.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                                    <span th:text="#{user.page.room}">
                                    </span>
                        <h2 th:text="#{user}"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->

<!-- Request Room Start-->
<div class="booking-area">
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <form action="#" th:action="@{/order/user/find}"  method="post">
                    <div class="booking-wrap d-flex justify-content-between align-items-center">
                        <!-- select in date -->
                        <div class="single-select-box mb-30">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                            <span th:text="#{check.in.date}">
                                            </span>
                            </div>
                            <div class="boking-datepicker">

                                <input type="date" th:name="arrivalDate"
                                       th:attr="min=${nowDate}" th:placeholder="${nowDate}" required/>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <!-- select out date -->
                            <div class="boking-tittle">
                                <span th:text="#{check.out.date}"></span>
                            </div>
                            <div class="boking-datepicker">
                                <input type="date" th:name="departureDate"
                                       th:attr="min=${tomDate}" th:placeholder="${tomDate}" required/>

                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{adults.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:name="adultsCapacity" id="select1" required>
                                        <th:block th:each="i: ${#numbers.sequence(1, session.maxAdultCapacity)}">
                                            <option  th:value="${i}"
                                                     th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{children.capacity}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select th:name="childrenCapacity" id="select2" required>
                                        <th:block th:each="i: ${#numbers.sequence(1, session.maxChildCapacity)}">
                                            <option  th:value="${i}"
                                                     th:utext="${i}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box mb-30">
                            <div class="boking-tittle">
                                            <span th:text="#{bed.size}">
                                            </span>
                            </div>
                            <div class="select-this">
                                <div class="select-itms">
                                    <select id="select3" th:name="bedSize" required>
                                        <th:block th:each="roomBedSize : ${session.roomBedSizeList}">
                                            <option  th:value="${roomBedSize}" th:text="${roomBedSize}"></option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Single Select Box -->
                        <div class="single-select-box pt-45 mb-30">
                            <button type="submit" class="btn select-btn" th:text="#{request.now}">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Request Room End-->

<!-- Footer Start -->
<div th:insert="fragments/footer :: footer"></div>
<!-- Footer End -->
</body>
</html>
