<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:rel="icon" type="image/png" th:href="@{/assets/img/favicon/favicon.png}">

    <!-- CSS here -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link th:rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <title th:text="#{main.page.title}"></title>
</head>
</html>